/.vscode
/Card_ID List_EN.pdf
/EN_Card_Data.csv
/kaggle_tcg

.venv/
__pycache__/
replays/

.env

submission.tar.gz
out/

requirements.local.txt


src/archive/*.csv
src/archive/*.parquet
src/archive/*.json
